.UserContainer {
    height: 25vh;
    border: 5px solid rgba(248, 213, 58, 0.966);
    border-radius: 10px ;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .Userphoto {
    width: 100px;
    height: 100px;
    border-radius: 10px ;
   
   
}
.userName {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    margin: 5px; 
    text-align: center; 
}



.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* 
.userItem {
   
    border: 1px solid #c903c9;
    background: #0389c9;
    border-radius: 10px ;
    min-width: 200px;
    height: 250px;
    margin: 10px;
}

.userProfile {
    margin: 5px;
    padding: 5px;
    
    text-align: center;
    height: 20%;
   
}
.userName {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
}

.userInfo {
color: #ffffff9f;
}


.Userphoto {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  
   
}
button {
    margin-top: 10px;
   text-align: center;
   border-radius: 5px;
  }
  button {
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid rgba(248, 213, 58, 0.966);
    background: rgba(248, 213, 58, 0.966);
}

button:hover {
    color: cornflowerblue;
} */

