
.postsBlock {
    min-height: 48vh;
    padding: 10px;
       border: 2px solid red;
    border-radius: 10px;
    margin:30px;
  }
  h3{
    color:white;
    text-align: center;
  }

.posts {
    margin-top:  10px;
   
   
}

