.paginator {
    display: flex;
    margin: 10px;
}

.paginatorNumbers {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.pageNumber {
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #0389c9;
    ;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    background: #0389c9;
}

.selectedPage {
    font-weight: bold;
    border: 1px solid#ffffff;
}

.button {
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid rgba(248, 213, 58, 0.966);
    background: rgba(248, 213, 58, 0.966);
    margin-top: -1px;
}

button:hover {
    color: cornflowerblue;
}